@media screen and (max-width: 1440px) {
    /* ----- FLOW ------- */

    .flow__step_content {
        text-align: center;
        margin-left: 0;
    }

    #step-four .flow__step_content {}


    /* ----- FAQ ------- */
    .body-faq__title {
        margin-left: 12px;
    }

    .faq-list-item {
        padding: 14px 0;
    }

    .faq-list-item__title {
        font-size: 29px;
        margin-left: 44px;
    }

    .faq-list-item__content {
        margin-left: 14px;
    }

    .faq-btn-add {
        margin-left: 20px;
    }

    /* ----- CONTACT ------- */
    .contact-title {
        margin-left: 7px;
    }

}

@media screen and (max-width: 1200px) {
    .flow-support-btn button {
        width: 220px;
    }
}

@media screen and (max-width: 900px) {

    /* ------------- HEADER--------------*/
    .header {
        height: auto !important;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 98;
    }

    .header-menu__mobile {
        display: block;
    }

    .section-diagram {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .header-logo img {
        width: 150px;
        height: 60px;
    }

    .header-menu__mobile {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .header-menu-icon {
        margin-top: 78px;
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .list-nav ul {
        text-align: left;
    }

    .list-nav ul li {
        padding: 10px 0;
    }

    .list-nav ul li a {
        color: white;
    }

    .list-nav {
        width: 80%;
        margin: auto;
    }

    .list-btn a {
        border: 0;
        padding: 10px 20px;
        border-radius: 20px;
        color: #D7382F;
    }

    .list-btn {
        color: #D7382F;
    }

    .list-btn ul li {
        padding: 15px 0;
    }

    .list-btn .btn-header-menu-spec {
        background-color: rgb(255, 255, 255);
        border: #D7382F 2px solid;
        color: #D7382F;
        padding: 10px 20px;
    }

    .list-btn .btn-header-menu {
        background: linear-gradient(to right, rgba(234, 30, 32, 1) 0%, rgba(247, 42, 60, 1) 50%, rgba(255, 69, 55, 1) 100%);
        color: white;
    }

    /* ------------- BANNER --------------*/

    .section-banner .inner {
        display: block;
    }

    .banner-right__img {
        width: 100%;
    }

    .banner-left {
        width: 100%;
    }

    .banner-right {
        margin: auto;
    }

    .banner-right__img img {
        width: 100%;
        position: relative;
        left: 0;
    }

    .label-btn__banner {
        margin-left: 0;
    }

    .list-nav__mobile {
        position: fixed;
        width: 100%;
        background-color: black;
        height: 100%;
        color: white;
        z-index: 100;
        top: 0;
        left: 0;
        visibility: hidden;
        transition: all 1s;
        margin-top: -900px;
        overflow: scroll;
    }

    .banner-left__info {
        text-align: center;
    }

    .banner-left__info h1 {
        font-size: 20px;
        width: auto;
    }

    .banner-left__info p {
        font-size: 18px;
    }

    .banner-left__btn {
        /* margin-left: 7%; */
    }

    .banner-left__btn button {
        font-size: 15px;
        padding: 10px 40px;
    }

    .banner-left__btn button::after {
        display: none;
    }

    .banner-left__btn_icon {
        top: 21px;
    }

    .banner-left-bottom,
    .banner-left-top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ------------- SHIPPAI--------------*/

    .body-shippai__title {
        font-size: 24px;
        margin-left: 0;
    }

    .grid-container {
        gap: 30px
    }

    /* ------------- ONEPLAT_NARA--------------*/

    .oneplat_nara-box__card,
    .oneplat_nara-box__title,
    .oneplat_nara__title {
        margin-left: auto;
    }

    .section-oneplat_nara .oneplat_nara__title h2 {
        font-size: 25px;
    }

    .oneplat_nara-box__title h2,
    .oneplat_nara__img h2 {
        font-size: 24px;
    }

    .section-oneplat_nara .oneplat_nara__img img {
        width: 200px;
    }


    /* ------------- DIAGRAM--------------*/
    .section-diagram__mobile {
        display: block;
    }

    .section-diagram__mobile .container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

    .section-diagram__mobile .inner {
        padding-top: 70px;
    }

    .diagram__title h2 {
        font-size: 24px;
    }

    .diagram__sub_title {
        font-size: 22px;
        margin: 48px auto auto auto;
        ;
    }

    .diagram-container__step {
        position: relative;
        margin: 53px auto auto auto;
        max-width: 1036px;
        width: 80%;
    }

    .diagram-container__step .line-up {
        position: absolute;
        left: 83px;
        top: 35px;
        z-index: 1;
    }

    .diagram__step {
        display: flex;
        padding-bottom: 50px;
        position: relative;
        z-index: 2;
        justify-content: left;
    }

    .diagram__step_content {
        text-align: left;
        margin-left: 5%;
    }

    .diagram-container__step .line-up {
        left: 31px;
        height: 28em;
    }

    /* ------------- TAIOU--------------*/

    .section-taiou {
        padding-bottom: 0;
    }

    .section-taiou .inner {
        padding-top: 70px;
    }

    .body-taiou__title h2 {
        font-size: 24px;
    }

    .body-taiou__box {
        grid-template-columns: repeat(2, 1fr);
    }

    .body-taiou__img {
        display: block;
    }

    .body-taiou__img p {
        width: auto;
    }

    /* ------------- FLOW--------------*/

    .body-flow__title h2 {
        font-size: 24px;
    }

    .flow-support .icon-dot,
    .flow-support .line-up {
        display: none;
    }

    .step-title,
    .step-sub-title {
        font-size: 22px;
    }

    .flow-support {
        width: 100%;
    }

    .step-content {
        font-size: 18px;
    }

    .body-flow-container__support {
        position: relative;
    }

    .flow-support-btn button {
        font-size: 1rem;
        width: 150px;
    }

    .body-flow-container__step {
        margin: auto;
        margin-top: 53px;
    }

    .body-flow-container__step .line-up {
        display: none;
    }

    .body-flow__step {
        display: block;
    }

    .body-flow-container__support::after {
        left: 46%;
    }

    /* ------------- FAQ--------------*/
    .section-faq {
        padding-bottom: 0;
    }

    .section-faq .wrapper {
        margin-top: 50px;
    }

    .body-faq__title h2,
    .faq-list-item__title {
        font-size: 24px;
    }

    .faq-list-item__content {
        font-size: 14px;
    }

    .faq-btn-add {
        margin-right: 10px;
    }

    .faq-btn-add button {
        width: 20px;
        height: 20px;
    }

    .icon-add::before {
        height: 14px;
    }

    .icon-add::after {
        width: 14px;
    }

    /* ------------- CONTACT --------------*/

    .section-contact {
        padding: 50px 0 50px 0;
    }

    .section-contact .wrapper {
        margin-top: 0;
    }

    .section-contact .inner {
        padding: 80px 10px;
    }

    .contact-title {
        font-size: 24px;
    }

    .contact-footer__content .label-btn {
        font-size: 18px;
    }

    .contact-footer__btn button {
        padding: 20px 0;
        font-size: 18px;
    }

    .contact-footer__btn button::after {
        width: 25px;
        height: 25px;
        top: 20px;
    }

    .contact-btn-icon {
        width: 29.04px;
        height: 29.04px;
        top: 24%;
        right: 20px;
        line-height: 0;
    }

}